<ul>
<% app.nav.left.forEach((l) => { %>
  <li><a href="<%- l.path %>"><%- l.text %></a></li>
<% }) %>
<% app.nav.right.forEach((l) => { %>
  <li><a href="<%- l.path %>"><%- l.text %></a></li>
<% }) %>
</ul>
