<div class="row">
<div class="column small-6">
<p class="callout warning">Pendant cette période de rodage, un compte Github est nécessaire
pour l'accès à la plupart des pages.</p>
</div>
<div class="column small-6">
<p class="callout primary"><strong><a href="/login/github/callback">Connectez-vous via Github</a></strong>
et consultez votre <i>streak</i> et les autres programmeurs actifs au Québec.</p>
</div>
</div>
