<ul>
  <li><a href="/">Accueil</a></li>
  <li><a href="/it/23">Avec paramètre</a></li>
  <li><a href="/docs">API docs</a></li>
  <li><a href="/load">Charge du serveur</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/register">Register</a></li>
</ul>
