extends layout

block content
  .row
    .column.medium-6
      h2 À propos
        small.tiny  (also available in <a href="/about">English)</a>

      p.lead.
        Le 19 mai dernier,
        <a href="https://github.com/blog/2173-more-contributions-on-your-profile">Github a retiré quelques statistiques</a>
        des profils utilisateurs. J'allais bientôt atteindre
        60 jours consécutifs de programmation et ce nombre m'encourageait
        à être plus régulier et surtout à pondre du code réutilisable.

    .column.medium-6
      h2 Colophon
      p.
        En plus de ça, c'est arrivé que le plus de ça, c'est arrivé que le
        plus de ça, c'est arrivé que le plus de ça, c'est arrivé que le
        plus de ça, c'est arrivé que le plus de ça, c'est arrivé que le
        plus de ça, c'est arrivé que le plus de ça, c'est arrivé que le.

      ul
        li https://github.com/
        li https://github.com/millette/committed-streaker
        li https://www.npmjs.com/package/rollodeqc-gh-user-streak
        li http://foundation.zurb.com/
        li http://expressjs.com/
        li http://passportjs.org/
        li https://github.com/jaredhanson/passport-github
        li Pug (anciennement Jade) http://jade-lang.com/
        li http://leveldb.org/
        li http://lodash.com/
        li https://github.com/avajs/ava
        li https://github.com/bcoe/nyc
        li http://standardjs.com/