extends layout

block content

  :marked
    # About

    <p class="lead">I often like including markdown documents.
    Et plus de ça, c'est arrivé que le plus de ça, c'est arrivé que le</p>

    En plus de ça, c'est arrivé que le plus de ça, c'est arrivé que le
    plus de ça, c'est arrivé que le plus de ça, c'est arrivé que le
    plus de ça, c'est arrivé que le plus de ça, c'est arrivé que le
    plus de ça, c'est arrivé que le plus de ça, c'est arrivé que le.
