extends layout

block content
  h2 About
    small.tiny  (en <a href="/a-propos">français</a>)

  .row
    .column.medium-6
      p.lead.
        Le 19 mai dernier,
        <a href="https://github.com/blog/2173-more-contributions-on-your-profile">Github a retiré quelques statistiques</a>
        des profils utilisateurs. J'allais bientôt atteindre
        60 jours consécutifs de programmation et ce nombre m'encourageait
        à être plus régulier et surtout à pondre du code réutilisable.

    .column.medium-6
      p.
        En plus de ça, c'est arrivé que le plus de ça, c'est arrivé que le
        plus de ça, c'est arrivé que le plus de ça, c'est arrivé que le
        plus de ça, c'est arrivé que le plus de ça, c'est arrivé que le
        plus de ça, c'est arrivé que le plus de ça, c'est arrivé que le.

