extends layout

block content
  div.row.centered
    div.column.small-4
      span Contributions in the last year
      span.stat= `${data.commits} total`
      span May 11, 2015 – May 11, 2016

    div.column.small-4
      span Longest streak
      span.stat= `${data.streaks[0].commits.length} days`
      span March 30 – May 11

    div.column.small-4
      span Current streak
      span.stat= `${data.streaks[0].commits.length} days`
      span March 30 – May 11

  div.row.column
    p: a(href='/profile/streaks') More

  div.row.column
    p: a(href='/logout') Logout
