extends layout

block content
  .row
    .column.medium-6
      h1.text-center Bienvenue!
      .row
        if user
          .column.small-12.text-center
            a(href="/profile/as-github").button.large.success Voir vos stats
        else
          .column.xxlarge-10.xxlarge-offset-1
            .expanded.button-group
              a(href="/login/github").button Se connecter<br>avec Github<br>
              a(href="/a-propos").button.secondary En savoir<br>plus

      if (!user)
        p.lead Connectez-vous avec votre compte Github pour obtenir instantannément vos statistiques.

      p.
        Encouragé par votre nombre de jours consécutifs de programmation?
        Déçu que ce soit <a href="/a-propos" title="le 19 mai 2016">disparu</a> de votre profil Github?
        Voici comment retrouver vos stats!

    .column.medium-6(lang="en")
      h1.text-center Welcome!
      .row
        if user
          .column.small-12.text-center
            a(href="/profile/as-github").button.large.success See your stats
        else
          .column.xxlarge-10.xxlarge-offset-1
            .expanded.button-group
              a(href="/login/github").button Login with<br>Github
              a(href="/about").button.secondary Learn<br>more

      if (!user)
        p.lead Connect with your Github account to get your commit statistics now.

      p.
        Encouraged by your commit streak?
        Sad that it <a href="/about" title="on May 19th 2016">disappeared</a> from your Github profile?
        Here's how to get your stats back!
