<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><%= app.siteTitle %></title>
</head>
<body>
<h1><%= app.siteTitle %></h1>
<pre>
<%= JSON.stringify(app, null, ' ') %>
</pre>
</body>
</html>