<%- include('partials/doctype') %>
<div class="row column">

<h2>load <small><a href="/load/json">JSON</a></small></h2>
<pre>
<%= JSON.stringify(load, null, ' ') %>
</pre>

</div>
<%- include('partials/bottom') %>
