@charset 'utf-8';

@import 'defaults';

#content {
  margin: 0 1rem;
}

.row.centered > .column > span {
  text-align: center;
  display: block;
}

.reference-note {
  vertical-align: top;
  padding: 0 0.25rem;
}

footer {
  margin-top: 2rem;
  padding: 1rem 2rem 0;
  border-top: thin solid map-get($foundation-palette, primary);
}

.expanded.button-group > a{
  line-height: 1.15rem;
}

small.tiny {
  font-size: smaller;
  font-style: italic;
}
